@import "core/variables";
@import "core/index";
@import "core/about-me";
@import "core/skills";
@import "core/projects";
@import "core/experience";
@import "core/header";
@import "core/footer";
@import "core/flip-card";

body {
  background-color: lightblue;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}
