<footer class="footer_sub-pages footer_skills">
  <!--
  @@label
  -->
  <nav class="social-links nav_header-contact contact contact_sub-pages" id="contact">
    <a class="a__social-links a_header-contact" href="https://twitter.com/Paloma_Ania" target="_blank" onmouseenter="playAudio()"><i
        class="fab fa-twitter i_header-contact"></i></a>
    <a class="a__social-links a_header-contact" href="https://github.com/palomaviolin" target="_blank" onmouseenter="playAudio()"><i
        class="fab fa-github i_header-contact"></i></a>
    <a class="a__social-links a_header-contact" href="https://www.linkedin.com/in/palomaania/" target="_blank"
      onmouseenter="playAudio()"><i class="fab fa-linkedin-in i_header-contact"></i></a>
    <a class="a__social-links a_header-contact a__social-link_remove-right-margin" href="mailto:paloma.aniabenito@gmail.com" onmouseenter="playAudio()"><i
        class="far fa-envelope i_header-contact"></i></a>
  </nav>
  <p class="copy_header-contact footer_sub-pages_copy footer_skills_copy">Copyright © 2022 Paloma Ania</p>
</footer>
