.body_projects {
  background-color: white;
}

/* -------------------- */

.main-title_projects {
  height: 120px;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.main-title_projects_text {
  text-transform: uppercase;
  font-size: 45px;
  border-top: 8px solid darkblue;
  border-bottom: 8px solid darkblue;
  width: 65%;
  margin: 0 auto;
}

/* -------------------- */

.principal-ul_projects {
  padding: 0;
  margin: 0px;
}

.secondary-ul_projects {
  padding: 0;
  margin: 0;
  margin: 30px 0px 30px 0px;
}

.section_projects {
  background-color: white;
  padding: 0px;
}

.section__projects_title {
  color: coral;
  font-size: 28px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  padding: 0px 45px 2px 0px;
  padding-left: 45px;
}

.section__projects_subtitle {
  color: orange;
  font-size: 20px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  padding: 0px 45px 5px 45px;
}

.description-text-project {
  font-family: "Cardo", serif;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 45px 0px 45px;
  text-align: center;
}

.container_links-repos-projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 85%;
  margin: 5px auto 5px auto;
}

.links-repos-projects {
  color: gray;
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration-line: underline;
    color: darkturquoise;
  }
}

.description-text-database {
  text-align: left;
}

.description-text-database > li {
  font-weight: bold;
}

.description-text-database > ul {
  font-weight: normal;
  list-style-type: circle;
}

.iframe__youtube{
  width: 350px;
  height: 200px;
}

.red-minutes{
  color: red;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 19px;
}

@media (min-width: 720px) {
  .main-title_projects {
    height: 160px;
  }

  .main-title_projects_text {
    font-size: 60px;
  }

  .section__projects_title {
    font-size: 35px;
  }

  .section__projects_subtitle {
    font-size: 26px;
  }

  .links-repos-projects {
    font-size: 25px;
  }

  .description-text-project {
    font-size: 22px;
    margin: 0 12vw 0 12vw;
  }

  .iframe__youtube{
    width: 560px;
    height: 315px;
  }
}

.description-text-database > li {
  margin-top: 13px;
}

@media (min-width: 1024px) {
  .description-text-project {
    margin: 0 25vw 0 25vw;
  }

  .iframe__youtube{
    width: 850px;
    height: 478px;
  }
}
