/* Crear variables en CSS
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root{
    /* Colors HEADER: */
    --color_header-background_white: white;
    --color_header_buttons_darkturquoise: darkturquoise;
    --color_header_buttons_active_white: white;
    --color_header_border_darkblue: rgb(59, 80, 150);
    --color_header_border_active_mediumblue: cornflowerblue;
    --color_header_icons_white: white;
    --color_header_icons_active_mediumblue: cornflowerblue;

    /* Colors FOOTER: */
    --color_footer-background_lightblue: lightblue;
    --color_footer_buttons_darkturquoise: darkturquoise;
    --color_footer_buttons_active_white: white;
    --color_footer_border_darkblue: rgb(59, 80, 150);
    --color_footer_border_active_mediumblue: cornflowerblue;
    --color_footer_icons_white: white;
    --color_footer_icons_active_mediumblue: cornflowerblue;

    /* Typographies: */
    --color_h1_black: black;
    --color_h2_mediumblue: cornflowerblue;
    --font-family_principal_barlow: "Barlow Semi Condensed", sans-serif;
    --font-family_secondary_cardo: "Cardo", serif;
}



