<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Portfolio Paloma</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,500,500i,700,700i,900,900i|Poiret+One"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700" rel="stylesheet">
</head>

<body class="body_experience">

  <partial src="_header2.html" label=""></partial>

  <main>
    <section class="main-title_experience">
      <p class="main-title_experience_text">experience</p>
    </section>
    <section class="section_experience">
      <ul>
        <li>
          <ul class="ul-experience">
            <li class="section__experience_title">Web Application Development (student)</li>
            <li class="section__experience_subtitle"><a class="a_experience" href="https://uax.com/" target="_blank">→ Alfonso X el Sabio University (UAX)</a></li>
            <li class="section__experience_subtitle date">September 2021 - currently</li>
          </ul>
        </li>
        <li>
          <ul class="ul-experience">
            <li class="section__experience_title">Front-end Developer</li>
            <li class="section__experience_subtitle"><a class="a_experience" href="https://www.campus.co/madrid/" target="_blank">→ Google Campus Madrid (Bootcamp)</a></li>
            <li class="section__experience_subtitle date">October 2018 - February 2019</li>
            <li class="intro-text-bootcamp">Comprehensive academic program which includes the necessary knowledge and
              tools for the Front-end Development:</li>
          </ul>
          <ul class="ul-detailed-experience">
            <li class="li-bootcamp">Web Layout Design: HTML5, CSS3, Flexbox, CSS Grid, diseño responsive, SASS,
              animaciones
              y maquinación por componentes.</li>
            <li class="li-bootcamp">Website Development Frameworks: Bootstrap.</li>
            <li class="li-bootcamp">Vanilla JavaScript.</li>
            <li class="li-bootcamp">ES6 and SPAs (single-page application) with React.</li>
            <li class="li-bootcamp">Version Control with Git.</li>
            <li class="li-bootcamp">Experience in developing projects using Agile methodologies (SCRUM).</li>
            <li class="li-bootcamp">Development Tools: VisualCode, Gulp, Terminal.</li>
            <li class="li-bootcamp">Communication and teamwork tools: Slack, Trello, GitHub.</li>
          </ul>
        </li>
        <li>
          <ul class="ul-experience">
            <li class="section__experience_title">Laboratory Technician · NeuroResearch</li>
            <li class="section__experience_subtitle"><a class="a_experience" href="https://hnparaplejicos.sanidad.castillalamancha.es/" target="_blank">→ National Paraplegics Hospital of Toledo (HNP)</a></li>
            <li class="section__experience_subtitle date">January 2017 - December 2017</li>
          </ul>
        </li>
        <li>
          <ul class="ul-experience">
            <li class="section__experience_title">Laboratory Technician · NeuroResearch</li>
            <li class="section__experience_subtitle"><a class="a_experience" href="https://www.ifth.es/" target="_blank">→ Teófilo Hernando R&D Medication Institute, Campus of Medicine - Atonomous University of Madrid (UAM)</a></li>
            <li class="section__experience_subtitle date">January 2016 - September 2017</li>
          </ul>
        </li>
        <li>
          <ul class="ul-experience">
            <li class="section__experience_title">Laboratory Technician · Clinical Diagnostic</li>
            <li class="section__experience_subtitle"><a class="a_experience" href="https://www.comunidad.madrid/hospital/ramonycajal/" target="_blank">→ University Hospital Ramón y Cajal</a></li>
            <li class="section__experience_subtitle date">March 2014 - June 2014</li>
          </ul>
        </li>
        <li>
          <ul class="ul-experience">
            <li class="section__experience_title">Violinist</li>
            <li class="section__experience_subtitle"><a class="a_experience" href="https://canal.march.es/es/coleccion/concierto-didactico-todos-tocan-juntos-historia-orquesta-1724" target="_blank">→ Teacher and Orchestra member</a></li>
            <li class="section__experience_subtitle date">September 2008 - June 2014</li>
          </ul>
        </li>
      </ul>
    </section>
  </main>

  <partial src="_footer.html" label=""></partial>

  <audio id="audioID">
    <source src="http://iss240.net/tempfiles/menu-click/1.ogg" type="audio/ogg">
    <source src="http://iss240.net/tempfiles/menu-click/1.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <script type="text/javascript" src="../assets/js/main.js"></script>
</body>

</html>
