<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Paloma</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,500,500i,700,700i,900,900i|Poiret+One"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700" rel="stylesheet">
</head>

<body class="body_landing-page" id="home">
  <header class="name">
    <h1 class="title_header1">Paloma Ania</h1>
    <h2 class="subtitle_header1">Web Application Developer</h2>
  </header>
  <main class="container_computer-and-principalnav">
    <img class="img-header" src="../../assets/images/responsive.png" alt="">
    <nav class="nav_principal-content">
      <a class="li_nav_principal-content a_nav_principal-content" href="about-me.html">About me</a>
      <a class="li_nav_principal-content a_nav_principal-content" href="skills.html">Skills</a>
      <a class="li_nav_principal-content a_nav_principal-content" href="projects.html">Projects</a>
      <a class="li_nav_principal-content a_nav_principal-content" href="experience.html">Experience</a>
    </nav>
  </main>
  <hr class="hr_after-main">
  <partial src="_footer.html" label=""></partial>
</body>

</html>
