<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Portfolio Paloma</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,500,500i,700,700i,900,900i|Poiret+One"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700" rel="stylesheet">
</head>

<body class="body_projects">

  <partial src="_header2.html" label=""></partial>

  <main>
    <section class="main-title_projects">
      <p class="main-title_projects_text">projects</p>
    </section>
    <section class="section_projects">
      <ul class="principal-ul_projects">
        <li>
          <ul class="secondary-ul_projects">
            <li class="section__projects_title">AWESOME PROFILE CARDS (1)</li>
            <li class="section__projects_subtitle">Visit Card creator with JavaScript.</li>
            <li class="container_links-repos-projects">
              <a class="links-repos-projects" target="_blank" href="https://github.com/Adalab/easley-s2-undefined"><i class="fas fa-arrow-right"></i> Repository</a>
              <a class="links-repos-projects" target="_blank" href="http://beta.adalab.es/easley-s2-undefined/"><i class="fas fa-arrow-right"></i> Website</a>
            </li>
            <li class="description-text-project">Website where you can create your own visit card, personalize it with colors and styles, and then share it in Twitter.</li>
          </ul>
        </li>
        <li>
          <ul class="secondary-ul_projects">
            <li class="section__projects_title">AWESOME PROFILE CARDS (2)</li>
            <li class="section__projects_subtitle">Visit Card creator with React.</li>
            <li class="container_links-repos-projects">
              <a class="links-repos-projects" target="_blank" href="https://github.com/Adalab/easley-s3-plerk.js"><i class="fas fa-arrow-right"></i> Repository</a>
              <a class="links-repos-projects" target="_blank" href="http://beta.adalab.es/easley-s3-plerk.js/#/"><i class="fas fa-arrow-right"></i> Website</a>
            </li>
            <li class="description-text-project">Project of inherit code (JavaScript). My team and I refactored the code and created a renewed version with React and JavaScript.</li>
          </ul>
        </li>
        <li>
          <ul class="secondary-ul_projects">
            <li class="section__projects_title">ADACODERS</li>
            <li class="section__projects_subtitle">Presentation team web.</li>
            <li class="container_links-repos-projects">
              <a class="links-repos-projects" target="_blank" href="https://github.com/Adalab/e-s1-adacoders"><i class="fas fa-arrow-right"></i> Repository</a>
              <a class="links-repos-projects" target="_blank" href="http://beta.adalab.es/e-s1-adacoders/"><i class="fas fa-arrow-right"></i> Website</a>
            </li>
            <li class="description-text-project">This was the first teamproject of a Bootcamp. We made a presentation website of our team, using the Web Layout Design new tools that we learned.</li>
          </ul>
        </li>
        <li>
          <ul class="secondary-ul_projects">
            <li class="section__projects_title">PROJECT NAME</li>
            <li class="section__projects_subtitle">Short description.</li>
            <li class="container_links-repos-projects">
              <a class="links-repos-projects" target="_blank" href=""><i class="fas fa-arrow-right"></i> Repository</a>
              <a class="links-repos-projects" target="_blank" href=""><i class="fas fa-arrow-right"></i> Website</a>
            </li>
            <li class="description-text-project"> Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</li>
          </ul>
        </li>
      </ul>
    </section>
  </main>

  <partial src="_footer.html" label=""></partial>

  <audio id="audioID">
    <source src="http://iss240.net/tempfiles/menu-click/1.ogg" type="audio/ogg">
    <source src="http://iss240.net/tempfiles/menu-click/1.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <script type="text/javascript" src="../assets/js/main.js"></script>
</body>

</html>
