<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Portfolio Paloma</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,500,500i,700,700i,900,900i|Poiret+One"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700" rel="stylesheet">
</head>

<body class="body_skills">

  <partial src="_header.html" label=""></partial>

  <main>
    <section class="main-title_skills">
      <p class="main-title_skills_text">SKILLS</p>
    </section>
    <div class="container-section-skills">
      <section class="section__programming-skills">
        <p class="section__programming_title">Programming Skills</p>
        <ul>
          <li class="li-skills">HTML</li>
          <li class="li-skills">CSS</li>
          <li class="li-skills">SASS</li>
          <li class="li-skills">JavaScript</li>
          <li class="li-skills">React</li>
          <li class="li-skills">Agile methodologies</li>
          <li class="li-skills">SCRUM</li>
          <li class="li-skills">Responsive design</li>
          <li class="li-skills">Version control - Git</li>
          <li class="li-skills">GitHub</li>
        </ul>
      </section>
      <section class="section__languages">
        <p class="section__languages_title">Languages</p>
        <ul class="ul-languages">
          <li class="li-languages">
            <img class="flag-img" src="../../assets/images/flag-spain.png" alt="">
          </li>
          <li class="li-languages english">
            <img class="flag-img" src="../../assets/images/flag-uk.png" alt="">
          </li>
          <li class="li-languages">
            <img class="flag-img" src="../../assets/images/flag-german.png" alt="">
          </li>
        </ul>
      </section>
      <section class="section__soft-skills">
        <p class="section__soft-skills_title">Soft Skills</p>
        <div class="container_icon-and-text_soft-skills">
          <p class="soft-skills_icon">😃</p>
          <p class="soft-skills_text">Great teamwork.</p>
        </div>
        <div class="container_icon-and-text_soft-skills">
          <p class="soft-skills_icon">📝</p>
          <p class="soft-skills_text">Organizational and Leadership capacities.</p>
        </div>
        <div class="container_icon-and-text_soft-skills">
          <p class="soft-skills_icon">🎨</p>
          <p class="soft-skills_text">Creative and enthusiastic about projects.</p>
        </div>
        <div class="container_icon-and-text_soft-skills">
          <p class="soft-skills_icon">🚀</p>
          <p class="soft-skills_text">Fast learning like a rocket!</p>
        </div>
      </section>
    </div>
  </main>

  <partial src="_footer.html" label=""></partial>

</body>

</html>
