@import url("./core/_variables.css");
@import url("./core/_index.css");
@import url("./core/_about-me.css");
@import url("./core/_skills.css");
@import url("./core/_projects.css");
@import url("./core/_experience.css");
@import url("./core/_header.css");
@import url("./core/_footer.css");
@import url("./core/_flip-card.css");
@import url("./core/_tooltips.css");

body {
  background-color: lightblue;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}
