@import url("./core/variables.css");
@import url("./core/index.css");
@import url("./core/about-me.css");
@import url("./core/skills.css");
@import url("./core/projects.css");
@import url("./core/experience.css");
@import url("./core/header.css");
@import url("./core/footer.css");
@import url("./core/flip-card.css");
@import url("./core/tooltips.css");

body {
  background-color: lightblue;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}
