<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Paloma</title>
  <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.ico">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/css/core/fontawesome-free-6.4.2-web/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,500,500i,700,700i,900,900i|Poiret+One"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700" rel="stylesheet">
</head>

<body class="body_projects">

  <header class="name_sub-pages">
    <div>
      <h1 class="title-header_sub-pages">Paloma Ania</h1>
      <h2 class="subtitle-header_sub-pages">Web Application Developer</h2>
    </div>
    <a class="button-return" href="index.html">
      <i class="fas fa-home icons_return-home"></i>
      <i class="fas fa-undo icons_return-home icon_undo"></i>
    </a>
  </header>

  <main>
    <section class="main-title_projects">
      <p class="main-title_projects_text">projects</p>
    </section>
    <section class="section_projects">
      <ul class="principal-ul_projects">
        <li>
          <ul class="secondary-ul_projects">
            <li class="section__projects_title">GWENT DATABASE</li>
            <li class="section__projects_subtitle">SQL database with Java</li>
            <li class="container_links-repos-projects">
              <a class="links-repos-projects" target="_blank" href="https://github.com/palomaviolin/witcher"><i class="fas fa-arrow-right"></i> Repository</a>
            </li>
            <!-- <li class="description-text-project"> Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</li> -->
            <ol class="description-text-project description-text-database">
              <li>Create database.</li>
              <ul>
                <li>Launch WampServer and open MySQL Query Browser.</li>
                <li>Insert code for the database creation and execute it.</li>
              </ul>
              <li>Manipulate database from MySQL Query Browser and phpMyAdmin</li>
              <ul>
                <li>Consult, add and remove data.</li>
              </ul>
              <li>Create Java project.</li>
              <ul>
                <li>Add JDBC Library.</li>
                <li>Connect with Database.</li>
              </ul>
              <li>Manipulate database from Java project.</li>
              <ul>
                <li>Consult data from database.</li>
                <li>Write in a file the data from the database.</li>
                <li>Write in the database the data from a file.</li>
              </ul>
            </ol>
          </ul>
        </li>
        <li>
          <ul class="secondary-ul_projects">
            <li class="section__projects_title">AWESOME PROFILE CARDS (2)</li>
            <li class="section__projects_subtitle">Visit Card creator with React.</li>
            <li class="container_links-repos-projects">
              <a class="links-repos-projects" target="_blank" href="https://github.com/Adalab/easley-s3-plerk.js"><i class="fas fa-arrow-right"></i> Repository</a>
              <a class="links-repos-projects" target="_blank" href="https://palomaviolin.github.io/easley-s3-plerk.js/#/"><i class="fas fa-arrow-right"></i> Website</a>
            </li>
            <li class="description-text-project">Project of inherit code (JavaScript). My team and I refactored the code and created a renewed version with React and JavaScript.</li>
          </ul>
        </li>
        <li>
          <ul class="secondary-ul_projects">
            <li class="section__projects_title">AWESOME PROFILE CARDS (1)</li>
            <li class="section__projects_subtitle">Visit Card creator with JavaScript.</li>
            <li class="container_links-repos-projects">
              <a class="links-repos-projects" target="_blank" href="https://github.com/Adalab/easley-s2-undefined"><i class="fas fa-arrow-right"></i> Repository</a>
              <a class="links-repos-projects" target="_blank" href="https://palomaviolin.github.io/easley-s2-undefined/"><i class="fas fa-arrow-right"></i> Website</a>
            </li>
            <li class="description-text-project">Website where you can create your own visit card, personalize it with colors and styles, and then share it in Twitter.</li>
          </ul>
        </li>
        <li>
          <ul class="secondary-ul_projects">
            <li class="section__projects_title">ADACODERS</li>
            <li class="section__projects_subtitle">Presentation team web with HTML and CSS.</li>
            <li class="container_links-repos-projects">
              <a class="links-repos-projects" target="_blank" href="https://github.com/Adalab/e-s1-adacoders"><i class="fas fa-arrow-right"></i> Repository</a>
              <a class="links-repos-projects" target="_blank" href="https://palomaviolin.github.io/e-s1-adacoders/"><i class="fas fa-arrow-right"></i> Website</a>
            </li>
            <li class="description-text-project">This was the first teamproject of a Bootcamp. We made a presentation website of our team, using the Web Layout Design new tools that we learned.</li>
          </ul>
        </li>
        <!-- <li>
          <ul class="secondary-ul_projects">
            <li class="section__projects_title">PROJECT NAME</li>
            <li class="section__projects_subtitle">Short description.</li>
            <li class="container_links-repos-projects">
              <a class="links-repos-projects" target="_blank" href=""><i class="fas fa-arrow-right"></i> Repository</a>
              <a class="links-repos-projects" target="_blank" href=""><i class="fas fa-arrow-right"></i> Website</a>
            </li>
            <li class="description-text-project"> Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</li>
          </ul>
        </li> -->
      </ul>
    </section>
  </main>

  <footer class="footer_sub-pages footer_skills">
    <nav class="social-links nav_header-contact contact contact_sub-pages" id="contact">
      <a class="a__social-links a_header-contact" href="https://twitter.com/Paloma_Ania" target="_blank"><i
          class="fab fa-brands fa-x-twitter i_header-contact"></i></a>
      <a class="a__social-links a_header-contact" href="https://github.com/palomaviolin" target="_blank"><i
          class="fab fa-github i_header-contact"></i></a>
      <a class="a__social-links a_header-contact" href="https://www.linkedin.com/in/palomaania/" target="_blank"><i class="fab fa-linkedin-in i_header-contact"></i></a>
      <a class="a__social-links a_header-contact a__social-link_remove-right-margin" href="mailto:paloma.aniabenito@gmail.com"><i
          class="far fa-envelope i_header-contact"></i></a>
    </nav>
    <p class="copy_header-contact footer_sub-pages_copy footer_skills_copy">Copyright © 2022 Paloma Ania</p>
  </footer>

</body>

</html>
