.body_landing-page {
  background-color: lightblue;
  color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_about-me {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.img_about-me {
  width: 100%;
}

.container_text_about-me {
  padding: 5px 15px 0px 15px;
  margin-bottom: 5px;
}

.p-bio {
  color: black;
  font-weight: normal;
  font-size: 19px;
  font-family: $font-family_secondary_cardo;
}

// Here starts container ARTICLES:

.container-articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 28px;
  padding-top: 50px;
}

.a-articles {
  text-decoration: none;
  font-size: 40px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  &:hover {
    .img-articles {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
    .articles_text-title {
      color: orange;
    }
  }
}

.a-articles_2 {
  margin-top: 50px;
}

.img-articles {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 310px;
  height: 240px;
  border-radius: 18px;
}

.articles_text-title {
  max-width: 356px;
  font-family: $font-family_secondary_cardo;
  color: black;
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
  margin: 0;
  padding: 22px 0px 5px 0px;
}

// Here starts container AWARDS:

.container-awards {
  width: 100%;
  padding: 20px;
  margin-bottom: 45px;
}

.trophy-styles {
  color: yellow;
}

.awards_image-and-title {
  display: flex;
  margin: auto;
}

.container_img-logo-business{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  //width: 100vw; --> BEWARE because this line is the one that used to cause the deformed width.
}

.img-awards {
  width: 110px;
  height: 100px;
  padding-top: 100px;
  padding-right: 30px;
  margin-right: 25px;
}

.awards_text-title {
  font-family: $font-family_secondary_cardo;
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin: 30px 0px 10px 0px;
  text-align: left;
}

.awards_text-subtitle {
  font-family: $font-family_secondary_cardo;
  font-size: 19px;
  font-weight: normal;
  color: gray;
  margin: 4px 0;
  text-align: left;
}

// Here starts ACCORDION:

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

// .active, .accordion:hover {
//   background-color: #ccc;
// }

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

// Here starts accordion styles added later:

.accordion {
  // collapsible
  height: 70px;
  border: 4px solid rgb(48, 30, 30);
  background-color: gray;
  font-family: $font-family_secondary_cardo;
  font-weight: bold;
  font-size: 55px;
  color: white;
  padding: 0 44px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1px 0px;
}

.panel {
  // content
  background-color: white;
  height: auto;
  width: fit-content;
}

.title-button-accordion {
  color: white;
  font-weight: normal;
  font-size: 24px;
  margin: 20px;
}

// -------------------


@media (max-width: 719px) {
  .img-awards {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 720px) {

.p-bio {
  font-size: 26px;
}

// Here starts ACCORDION:

.accordion {
  height: 90px;
}

.title-button-accordion {
  font-size: 34px;
}

// Here starts container ARTICLES:
// Entre el ancho de 720px y 920px hay que poner otras mediaqueries

.a-articles {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  margin: 25px 0px 25px 0px;
}

.img-articles {
  width: 50%;
}

.articles_text-title {
  font-size: 30px;
  width: 50%;
}


// Here starts container AWARDS:

.container-awards {
  margin-top: 35px;
}

.awards_image-and-title {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.awards_image-and-title > div {
  display: flex;
  flex-direction: column;
}

.img-awards {
  width: 100px;
  height: 50ppx;
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 30px;
}

.awards_text-title {
  font-size: 25px;
}

.awards_text-subtitle {
  font-size: 22px;
}

}
