.body_experience {
  background-color: white;
}

// --------------------

.main-title_experience {
  height: 350px;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.main-title_experience_text {
  text-transform: uppercase;
  font-size: 125px;
  border-top: 8px solid darkblue;
  border-bottom: 8px solid darkblue;
  width: 65%;
  margin: 0 auto;
}

// --------------------

.section_experience {
  background-color: white;
}

.section__experience_title {
  color: coral;
  font-size: 85px;
  margin: 0 auto;
  text-align: center;
  padding: 55px 45px 15px 0px;
  padding-left: 45px;
}

.section__experience_subtitle {
  // font-family: "Cardo", serif;
  color: orange;
  font-size: 60px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  padding: 0px 45px 5px 45px;
  // padding-left: 45px;
}

.date {
  color: gray;
  font-size: 45px;
}

.intro-text-bootcamp {
  font-family: "Cardo", serif;
  font-size: 40px;
  font-weight: bold;
  padding: 25px 45px 25px 45px;
  text-align: center;
}

.li-bootcamp {
  list-style-type: square;
  font-family: "Cardo", serif;
  font-size: 40px;
  padding: 10px 45px 10px 10px;
}

.ul-experience {
  font-weight: bold;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.ul-detailed-experience {
  margin-left: 35px;
}
