footer {
  //padding: 40px;
  margin: 0;
}

.footer_sub-pages {
  margin-top: 15px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contact_sub-pages {
  margin: 0 auto;
  padding-top: 4px;
}

.a_header-contact {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: darkturquoise;
}

.i_header-contact {
  font-size: 25px;
  display: flex;
  align-self: center;
}

.a__social-links {
  text-decoration: none;
  color: $color_footer_icons_white;
  font-size: 30px;
  padding: 6px 10px;
  margin-right: 15px;
  border-radius: 30px;
  border: 2px solid $color_footer_border_darkblue;
}

.a__social-links:hover {
  background-color: white;
  color: $color_footer_icons_active_mediumblue;
  border: 2px solid $color_footer_border_active_mediumblue;
}

.a__social-link_remove-right-margin {
  margin-right: 0px;
}

.social-links {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

p {
  text-align: center;
  color: $color_footer_border_darkblue;
  font-weight: bold;
}

.footer_sub-pages_copy{
  margin: 12px;
  font-size: 16px;
}

@media (min-width: 720px) {
  .a_header-contact {
    width: 60px;
    height: 60px;
  }

  .i_header-contact {
    font-size: 45px;
  }

  .footer_sub-pages_copy {
    font-size: 20px;
    padding: 8px 0px 8px 0px;
  }
}
