.body_landing-page {
  background-color: lightblue;
  color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  background-color: white;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_header1 {
  font-size: 35px;
  // font-family: "Poiret One", cursive;
  font-family: $font-family_principal_barlow;
  color: darkturquoise;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.subtitle_header1 {
  font-size: 30px;
  font-family: $font-family_principal_barlow;
  text-align: center;
  font-weight: normal;
  margin: 0;
  color: black;
}

.img-header {
  width: 100%;
  margin-top: 4vh;
}

.nav_principal-content {
  background-color: lightgray;
  font-size: 30px;
  font-weight: bold;
  color: darkorange;
  text-transform: uppercase;
  padding: 25px 0px;
}

.li_nav_principal-content {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: gray;
  }
}

.a_nav_principal-content {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  padding: 5px 0px;
}

.footer1 {
  padding: 22px 0 10px 0;
  width: 100vw;
}

.header__a_header-contact {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: darkturquoise;
}

.header__i_header-contact {
  font-size: 30px;
  display: flex;
  align-self: center;
}

.header__a__social-links {
  text-decoration: none;
  color: $color_footer_icons_white;
  font-size: 30px;
  padding: 6px 10px;
  margin-right: 10px;
  border-radius: 30px;
  border: 2px solid $color_footer_border_darkblue;
}

.header__a__social-links:hover {
  background-color: white;
  color: $color_footer_icons_active_mediumblue;
  border: 2px solid $color_footer_border_active_mediumblue;
}

.copy_header1 {
  font-size: 18px;
  margin-top: 25px;
}

// Code of old button arrow-down (link from header to main):

// button {
//   background: none;
// 	color: inherit;
// 	border: none;
// 	padding: 0;
// 	font: inherit;
// 	cursor: pointer;
// 	outline: inherit;
// }

// .a-arrowdown-header {
//   background-color: blue;
//   padding: 6px;
//   border-radius: 4px;
// }

// .a-arrowdown-header:hover {
//   background-color: rgb(35, 55, 165);
// }

// .fas {
//   color: white;
//   // color para futuro fondo de la flecha: rgb(59, 80, 150);
//   font-size: 40px;
//   border-radius: 50%;
//   -webkit-transition: -webkit-transform .8s ease-in-out;
//           transition:         transform .8s ease-in-out;
// }

// .fas:hover {
//   -webkit-transform: rotate(360deg);
//           transform: rotate(360deg);
// }

@media (min-width: 768px) {
  .name {
    height: 200px;
  }

  .title_header1 {
    font-size: 400%;
  }
  .subtitle_header1 {
    font-size: 400%;
  }

  .container_computer-and-principalnav {
    display: flex;
    flex-direction: row;
  }
  .img-header {
    width: 50%;
    height: 50%;
  }

  .nav_principal-content{
    font-size: 30px;
    padding: auto 0px;
    width: 50%;
  }

  .li_nav_principal-content {
    height: 50px;
  }

  .footer1 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .contact {
    width: 50%;
  }

  .copy_header1 {
    width: 50%;
    font-size: 25px;
    margin: auto auto;
  }

  .header__a_header-contact {
    width: 60px;
    height: 60px;
    margin: 0 10px;
  }

  .header__i_header-contact {
    font-size: 40px;
  }
}
