.name_sub-pages {
  background-color: $color_header-background_white;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-header_sub-pages {
  font-size: 30px;
  // font-family: 'Poiret One', cursive;
  font-family: $font-family_principal_barlow;
  font-weight: 600;
  margin: 0;
  padding-left: 15px;
}

.subtitle-header_sub-pages {
  font-size: 20px;
  font-family: $font-family_principal_barlow;
  font-weight: 500;
  margin: 0;
  padding-left: 15px;
  color: $color_h2_mediumblue;
}

.button-return {
  width: 52px;
  height: 25px;
  background-color: $color_header_buttons_darkturquoise;
  text-decoration: none;
  color: $color_header_icons_white;
  border-radius: 20px;
  border: 2px solid $color_header_border_darkblue;
  padding: 10px;
  margin-right: 15px;
  &:hover {
    background-color: $color_header_buttons_active_white;
    color: $color_header_icons_active_mediumblue;
    border: 2px solid $color_header_border_active_mediumblue;
  }
}

.icons_return-home {
  font-size: 23px;
}

.icon_undo {
  font-size: 23px;
}


// RESPONSIVE del HEADER2 para pantallas de más de 720px,

@media (min-width: 720px) {
  .name_sub-pages {
    height: 25vh;
  }

  .title-header_sub-pages {
    font-size: 40px;
  }

  .subtitle-header_sub-pages {
    font-size: 30px;
  }

  .button-return {
    width: 100px;
    height: 35px;
    border-radius: 20px;
  }

  .icons_return-home {
    font-size: 44px;
  }

  .icon_undo {
    font-size: 40px;
  }
}
