.body_landing-page {
  background-color: lightblue;
  color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  background-color: white;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_header1 {
  font-size: 100px;
  // font-family: "Poiret One", cursive;
  font-family: $font-family_principal_barlow;
  color: darkturquoise;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.subtitle_header1 {
  font-size: 80px;
  font-family: $font-family_principal_barlow;
  text-align: center;
  font-weight: normal;
  margin: 0;
  color: black;
}

.img-header {
  width: 100%;
  margin-top: 4vh;
}

.nav_principal-content {
  background-color: lightgray;
  font-size: 75px;
  font-weight: bold;
  color: darkorange;
  text-transform: uppercase;
  padding: 50px 0px;
}

.li_nav_principal-content {
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: gray;
  }
}

.a_nav_principal-content {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  padding: 5px 0px;
}

.footer1 {
  padding-top: 80px;
  padding-bottom: 40px;
}

.a_header-contact {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  margin: 0 20px;
  background-color: darkturquoise;
}

.i_header-contact {
  font-size: 80px;
  display: flex;
  align-self: center;
}

.copy_header1 {
  font-size: 50px;
  margin-top: 45px;
}

// Code of old button arrow-down (link from header to main):

// button {
//   background: none;
// 	color: inherit;
// 	border: none;
// 	padding: 0;
// 	font: inherit;
// 	cursor: pointer;
// 	outline: inherit;
// }

// .a-arrowdown-header {
//   background-color: blue;
//   padding: 6px;
//   border-radius: 4px;
// }

// .a-arrowdown-header:hover {
//   background-color: rgb(35, 55, 165);
// }

// .fas {
//   color: white;
//   // color para futuro fondo de la flecha: rgb(59, 80, 150);
//   font-size: 40px;
//   border-radius: 50%;
//   -webkit-transition: -webkit-transform .8s ease-in-out;
//           transition:         transform .8s ease-in-out;
// }

// .fas:hover {
//   -webkit-transform: rotate(360deg);
//           transform: rotate(360deg);
// }
