.body_projects {
  background-color: white;
}

// --------------------

.main-title_projects {
  height: 120px;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.main-title_projects_text {
  text-transform: uppercase;
  font-size: 45px;
  border-top: 8px solid darkblue;
  border-bottom: 8px solid darkblue;
  width: 65%;
  margin: 0 auto;
}

// --------------------

.principal-ul_projects {
  padding: 0;
  margin: 0px;
}

.secondary-ul_projects {
  padding: 0;
  margin: 0;
  margin: 30px 0px 30px 0px;
}

.section_projects {
  background-color: white;
  padding: 0px;
}

.section__projects_title {
  color: coral;
  font-size: 28px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  padding: 0px 45px 2px 0px;
  padding-left: 45px;
}

.section__projects_subtitle {
  color: orange;
  font-size: 20px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  padding: 0px 45px 5px 45px;
}

.description-text-project {
  font-family: "Cardo", serif;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 45px 0px 45px;
  text-align: center;
}

.container_links-repos-projects {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 5px auto 5px auto;
}

.links-repos-projects {
  color: gray;
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration-line: underline;
    color: darkturquoise;
  }
}

@media (min-width: 720px) {
  .main-title_projects {
    height: 160px;
  }

  .main-title_projects_text {
    font-size: 60px;
  }
}
