.body_skills {
  background-color: white;
}

// --------------------

.main-title_skills {
  height: 120px;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.main-title_skills_text {
  font-size: 45px;
  border-top: 8px solid darkblue;
  border-bottom: 8px solid darkblue;
  width: 40%;
  margin: 0 auto;
}

// --------------------

.section__programming-skills {
  background-color: white;
}

.section__programming_title {
  font-family: "Cardo", serif;
  color: black;
  font-size: 25px;
  margin: 0 auto;
  text-align: left;
  padding: 30px 0px 0px 0px;
  padding-left: 15px;
}

ul {
  list-style-type: none;
}

ul .li-skills:before {
  content: "✓ ";
  color: green;
}

.li-skills {
  font-family: "Cardo", serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  margin: 12px auto;
  padding-left: 0px;
}

// --------------------

.section__languages {
  background-color: white;
}

.section__languages_title {
  font-family: "Cardo", serif;
  color: black;
  font-size: 25px;
  margin: 0 auto;
  text-align: left;
  padding: 15px 0px 12px 15px;
}

.ul-languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.flag-img {
  display: flex;
  align-self: center;
  width: 80px;
  height: 80px;
}

.english {
  margin: 0px 20px;
}

// --------------------

.section__soft-skills {
  background-color: white;
  margin-top: 10px;
}

.section__soft-skills_title {
  font-family: "Cardo", serif;
  color: black;
  font-size: 25px;
  margin: 0 auto;
  text-align: left;
  padding: 30px 0px 12px 15px;
}

.container_icon-and-text_soft-skills {
  display: flex;
  align-items: center;
}

.soft-skills_icon {
  font-size: 48px;
  margin: 0px auto;
  // margin-left: 39px;
  // margin-right: 5px;
  margin: 0px;
  margin-left: 15px;
  margin-right: 10px;
}

.soft-skills_text {
  font-family: "Cardo", serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  margin: 20px auto;
  text-align: left;
}

// --------------------

.footer_skills {
  background-color: lightblue;
  padding-top: 100px;
}

.footer_skills_copy {
  font-size: 35px;
}

// --------------------


@media (min-width: 720px) {

  .main-title_skills {
    height: 160px;
  }

  .main-title_skills_text {
    font-size: 60px;
  }

  // .section__programming-skills, .section__languages, .section__soft-skills {
  //   margin-left: 24%;
  // }

  // .section__programming_title, .section__languages_title, .section__soft-skills_title {
  //   font-size: 30px;
  //   padding-left: 40px;
  // }

  // .li-skills, .soft-skills_text {
  //   font-size: 25px;
  //   padding-left: 25px;
  //   margin-left: 0px;
  // }

  // .ul-languages {
  //   justify-content: left;
  //   padding-left: 65px;
  // }

  // .flag-img {
  //   width: 150px;
  //   height: 140px;
  // }

  // .container_icon-and-text_soft-skills {
  //   padding-left: 25px;
  // }

}

// --------- NEW!! ----------

.container-section-skills {
  display: flex;
  flex-direction: column;

}

.container_icon-and-text_soft-skills {

}

@media (min-width: 720px) {
  .container-section-skills {
    flex-direction: row;
    justify-content: center;
  }

  .section__programming_title, .section__languages_title, .section__soft-skills_title {
    padding: 0px;
    text-align: center;
  }

  .ul-languages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__programming-skills, .section__languages, .section__soft-skills {
    margin-top: 10px;
    margin: 26px;
  }

  .soft-skills_icon {
    // margin-left: 0px;
    font-size: 64px;
  }

  .section__languages {
    order: 3;
  }

}

@media (min-width: 1024px) {
  .section__programming_title, .section__languages_title, .section__soft-skills_title {
    font-size: 30px;
  }

  .li-skills, .soft-skills_text {
    font-size: 25px;
  }

  .flag-img {
    width: 150px;
    height: 140px;
  }

}

.soft-skills_text {
  margin-right: 0px;
  margin-left: 0px;
}


